<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>developmentAppKey</key>
	<string>6mUadX0BTeKR9_3dssYjUw</string>
	<key>developmentAppSecret</key>
	<string>dDCRdiUYSuu0T9_6cQFx0A</string>
	<key>productionAppKey</key>
	<string>vPie4LOuSNO0gFpFzH8-7w</string>
	<key>productionAppSecret</key>
	<string>vzPM6t6xSpO6coNokEzTrg</string>
</dict>
</plist>
